body{
  margin: 0;
  padding: 0;
  
}
  
  .btnCreate {
    background-color: #acdf3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .btnCreate:hover {
    background-color: #acdf3e;
  }
  
 .searchBar {
display: flex;
align-items: center;
  
    }  

  /* .input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100em;
    display: flex;
    align-items: center;    
  } */
  .input {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    /* padding: 10px; */
    font-size: 16px;
    width: 100%;
  }
  .btnSearch {
    background-color: #acdf3e;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 2px 2px 10px #acdf3e;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
    
  }
  
  .btnSearch:hover {
    background-color: #acdf3e;
    color: white;
    border-radius: 5px;
    border-color: #2f3640;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.522);
    transform: translateY(-2px);
  }


  .btnCreate {
    background-color: #acdf3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .btnCreate:hover {
    background-color: #acdf3e;
  }
  .btnSearch {
    display: flex;
    margin-right: 10px;
    align-items: center;
  } 
 

  .btnCreate {
    background-color: #acdf3e;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 2px 2px 10px #acdf3e;
    transition: all 0.2s ease-in-out;
  }
  
  .btnCreate:hover {
    background-color: #acdf3e;
    color: white;
    border-radius: 5px;
    border-color: #2f3640;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.522);
    transform: translateY(-2px);
  }

  .btnCreate {
    background-color: #acdf3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .btnCreate:hover {
    background-color: #acdf3e;
  }
